*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}
.mt {
  margin-top: 7px;
}
.margin-bottom {
  margin-bottom: 100px;
}
.main section {
  margin: 100px 0px;
}
/* icon-moon start*/
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?mk7r2");
  src: url("fonts/icomoon.eot?mk7r2#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?mk7r2") format("truetype"),
    url("f../onts/icomoon.woff?mk7r2") format("woff"),
    url("../fonts/icomoon.svg?mk7r2#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss:before {
  content: "\e900";
  color: #ffa500;
}
.icon-twitter1:before {
  content: "\e901";
  color: #1da1f2;
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}

/* icon-moon end */

/* header */
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(221, 221, 221, 0.8);
}
/* navigation */
.nav {
  width: 100%;
  align-items: center;
  padding: 15px 0px;
  display: flex;
  justify-content: space-between;
}
.nav .logo {
  color: black;
  font-size: 28px;
}
.menu-header {
  display: flex;
  flex-direction: row-reverse;
}
.menu-header li {
  margin-left: 20px;
  align-items: center;
}
.menu-header li:last-child {
  margin-left: 0px;
}
.menu-header a {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  transition: 0.5s;
  font-weight: bold;
}
.menu-header a:hover,
.menu-header .current-page {
  color: black;
}
/* header image */
.main-img-top {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/hero.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
}
.main-img-top i {
  color: white;
  font-size: 40px;
  position: absolute;
  cursor: pointer;
  transform: 0.5s;
}
.main-img-top i:hover {
  opacity: 0.5;
}
.main-img-top i[class*="fas fa-angle-left"] {
  top: 50%;
  left: 0%;
  transform: translate(100%, -50%);
}
.main-img-top i[class*="fas fa-angle-right"] {
  top: 50%;
  right: 0%;
  transform: translate(-100%, -50%);
}

/* main */
.main {
  width: 100%;
  text-align: left;
}
/* main top */
.main-top {
  width: 100%;
}
.main-top h1 {
  line-height: 1.7em;
  text-transform: uppercase;
}

.wraper-paraghraph {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 70px 0;
  line-height: 1.7em;
  text-align: justify;
}
.wraper-paraghraph p {
  width: 48%;
  color: rgba(0, 0, 0, 0.5);
}
/* latest work */
.about-me {
  width: 100%;
}
.latest-work > .container h2 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  width: 100%;
}
.lates-imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.latest-img {
  width: 32.5%;
  height: 200px;
  margin-bottom: 1.3%;
  position: relative;
  overflow: hidden;
  border: 3px solid #ddd;
}
.latest-img:hover:after {
  position: absolute;
  top: 100%;
  left: -100%;
}
.latest-img::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: -100%;
  left: 100%;
  display: block;
  background: linear-gradient(
    transparent,
    rgba(192, 192, 192, 0.8),
    transparent
  );
  transform: scale(1.1) rotate(45deg);
  transition: 0.7s;
}

.latest-img1 {
  background: rgba(255, 255, 255, 0.5) url("../images/pic1.jpg") no-repeat
    center center;
  background-size: contain;
}
.latest-img2 {
  background: rgba(255, 255, 255, 0.5) url("../images/pic2.jpg") no-repeat
    center center;
  background-size: contain;
}
.latest-img3 {
  background: rgba(255, 255, 255, 0.5) url("../images/pic3.jpg") no-repeat
    center center;
  background-size: contain;
}
.latest-img4 {
  background: rgba(255, 255, 255, 0.5) url("../images/pic4.jpg") no-repeat
    center center;
  background-size: contain;
}
.latest-img5 {
  background: rgba(255, 255, 255, 0.5) url("../images/pic5.jpg") no-repeat
    center center;
  background-size: contain;
}
.latest-img6 {
  background: rgba(255, 255, 255, 0.5) url("../images/pic6.jpg") no-repeat
    center center;
  background-size: contain;
}
/* about me */
.about-me {
  width: 100%;
  text-align: center;
}
.about-me .container {
  padding: 0 50px;
}

.about-me i[class*="fas fa-angle-left"] {
  font-size: 50px;
  margin-right: 15px;
  opacity: 0.3;
}
.about-me i[class*="fas fa-angle-right"] {
  font-size: 50px;
  margin-left: 15px;
  opacity: 0.3;
}
.about-me i:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: 0.5s;
}

.about-me h2 {
  width: 100%;
  margin-bottom: 50px;
  text-transform: uppercase;
}
.test {
  display: flex;
}
.about-me p {
  color: rgba(0, 0, 0, 0.5);
  margin: 0px auto;
  line-height: 1.6em;
}
.about-me h3 {
  text-transform: capitalize;
  text-align: center;
  margin-top: 50px;
}
/* footer */
.footer {
  width: 100%;
}
.footer > .container {
  display: flex;
  text-align: left;
  justify-content: space-between;
}

/* any section  */
.any-section {
  width: 32%;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.7em;
}

.any-section address {
  font-style: normal;
  margin-bottom: 15px;
}
.any-section h2 {
  margin-bottom: 7px;
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
}
.any-section time {
  display: block;
}
/* icons footer  */
.footer-icons {
  width: 100%;
  display: flex;
}
.section-icons i {
  font-size: 50px;
}
.section-icon1 {
  margin-right: 50px;
}
.text-footer-icon {
  text-align: left;
  display: inline-block;
}
.footer-last {
  width: 100%;
  padding: 15px 0;
  opacity: 0.5;
}
.footer-last .container {
  display: flex;
  justify-content: space-between;
}
/* footer menu */
.footer-menu {
  display: flex;
}
.footer-menu li {
  margin-left: 15px;
}
.footer-menu li:first-child {
  margin-left: 0;
}
.footer-menu li a {
  color: black;
}

/* respansive  */
@media (max-width: 810px) {
  .nav {
    flex-wrap: wrap;
    padding: 0px 0px;
    padding-bottom: 15px;
    justify-content: center;
  }
  .nav .logo {
    text-align: center;
    width: 100%;
    margin: 15px 0;
  }
  /* any image */
  .latest-img {
    width: 49%;
    margin-bottom: 2%;
  }

  /* footer last */
  .footer-last .container {
    flex-wrap: wrap;
    text-align: center;
  }
  /* footer menu  */

  .footer-menu {
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
  }
  .footer-last p {
    width: 100%;
    margin: 30px;
  }
}
@media (max-width: 500px) {
  /* navigation */
  .nav {
    padding: 0 0;
  }
  .nav .logo {
    margin: 15px 0;
  }
  /* menu header  */
  .menu-header {
    display: flex;
  }
  .menu-header li {
    margin-left: 10px;
    margin-bottom: 10px;
    flex-direction: column;
  }
  /* any image */

  .latest-img {
    width: 98%;
  }
  /* any section about us  */
  .footer > .container {
    flex-wrap: wrap;
    text-align: center;
  }
  .any-section {
    border-bottom: 1px solid #000;
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  /*  footer icon */
  .footer-icons {
    flex-wrap: wrap;
  }
  .section-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .text-footer-icon {
    text-align: left;
  }
  /* abute us  */
  .about-me .container {
    position: relative;
  }
  /* abute us icons */
  .about-me i[class*="fas fa-angle-left"] {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translateY(-50%);
  }
  .about-me i[class*="fas fa-angle-right"] {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
  }
}
